@charset "ISO-8859-1";
.banner {
	width: 100%;
	height: 93vh;
	color: white;
	background:linear-gradient(rgba(0,0,0.3),rgba(0,0,0,0.3)), url("../image/bg1.jpg");
	background-size: cover;
}
.ban {
	width: 100%;
	height: 93vh;
	background-size: cover;
}
.my-card
{
	padding: 20px;
	background: white;
}
.padding_btn
{
	
	margin: 17px;
}
.bg-font
{
	background: #009688;
	color: white;
}
body {
  margin: 0;
  padding: 0;
  background:  -webkit-linear-gradient(135deg,#009688, white, #009688);
  height: 100vh;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin: 10px;
}
.rem{
	margin: 10px;
}
.rem1{
	margin-top:100px; 
}
.nvfont{
	color: white;
}
.my_profile{
	width: 50px;
	height: 50px;
	object-fit:cover;
}
.card .card-body .container .my_profile_show{
	width: 200px;
	height: 200px;
}
.myProfile{
	width: 150px;
	height: 150px;
	object-fit:cover;
	border-radius: 70px;
}
.profile{
	width: 100px;
	height: 100px;
	object-fit:cover;
	border-radius: 70px;
}
/* sercah result */
.serach-result{
	position: absolute;
	background: white;
	width: 95%;
	padding: 10px;
	margin:3px;
	border: 2px solid grey;
}
.active{
	background:   #009688;
	color: white;
}